
<table class="headings">
  <tr>
    <th class="loan-details"></th>
    <th></th>
    <th></th>
    <th></th>
    <th class="loan-details"></th>
    <th class="loan-details"></th>
    <th class="loan-details"></th>
  </tr>
  <tr>
    <td class="label">
      Amount:
    </td>
    <td>
      <%= number_with_precision(@loan.amount, precision: 2, delimiter: ',') %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Interest
    </td>
    <td class="figure-label label">
      Principal
    </td>
    <td class="figure-label label">
      Total
    </td>
  </tr>
  <tr>
    <td class="label">
      Interest %:
    </td>
    <td>
      <%= @loan.interest * 100 %> %
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Remaining
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_interest, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_principal, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_balance, precision: 2, delimiter: ',') %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Periods:
    </td>
    <td>
      <%= @loan.period_count %>
    </td>
    <td></td>
    <td class="figure-label label">Paid</td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_interest, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_principal, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_balance, precision: 2, delimiter: ',') %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Start Date
    </td>
    <td>
      <%= @loan.start_date.strftime("%Y-%m-%d") %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Status:
    </td>
    <td class="<%= @loan.status %>">
      <%= @loan.status %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Pay to balance
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.payment_to_balance_now, precision: 2, delimiter: ',') %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Date now
    </td>
    <td class="figure-label">
      <%= @loan.date_today %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      <%= link_to "Next Day", change_date_loan_path(@loan.id), { method: :get } %>
    </td>
  </tr>
</table>

<br><br><br>

<table class="loan">
  <tr>
    <th class="date">Date</th>
    <th></th>
    <th>Charges</th>
    <th>Debit</th>
    <th>Note</th>
  </tr>
  <% @view.each do |period| %>
    <% period[:txns].each do |txn| %>
      <tr>
        <td>
        </td>
        <td class="date">
          <%= txn[:date] %>
        </td>
        <td>
          <%= number_with_precision(txn[:charges], precision: 2, delimiter: ',') %>
        </td>
        <td>
          <%= number_with_precision(txn[:credits], precision: 2, delimiter: ',') %>
        </td>
        <td>
          <%= txn[:note] %>
        </td>
      </tr>
    <% end %>
    <tr class="due-date">
      <td>
        <%= period[:date] %>
      </td>
      <td>
      </td>
      <td>
        <%= number_with_precision(period[:charges], precision: 2, delimiter: ',') %>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  <% end%>

</table>

<br><br><br>

<div class="controls">
  <%= form_for @loan do |f| %>
    <%= f.fields_for :actual_transactions, @loan.actual_transactions.new do |f| %>
      <%= f.select :kind, ["payment", "waive"] %>
      <%= f.text_field :amount %>
      <%= f.hidden_field :note, value: @loan.date_today %>
      <%= f.hidden_field :created_at, value: @loan.date_today %>
      <%= f.hidden_field :updated_at, value: @loan.date_today %>
    <% end %>
    <%= f.submit "Confirm" %>
  <% end %>
</div>
