<table class="headings">
  <tr>
    <th class="loan-figures"></th>
    <th></th>
    <th></th>
    <th></th>
    <th class="loan-figures"></th>
    <th class="loan-figures"></th>
    <th class="loan-figures"></th>
  </tr>
  <tr>
    <td class="label">
      Amount:
    </td>
    <td>
      <%= number_with_precision(@loan.amount, precision: 2, delimiter: ',') %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Interest
    </td>
    <td class="figure-label label">
      Principal
    </td>
    <td class="figure-label label">
      Total
    </td>
  </tr>
  <tr>
    <td class="label">
      Interest %:
    </td>
    <td>
      <%= @loan.interest * 100 %> %
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Remaining
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_interest, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_principal, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_balance, precision: 2, delimiter: ',') %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Periods:
    </td>
    <td>
      <%= @loan.period_count %>
    </td>
    <td></td>
    <td class="figure-label label">Paid</td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_interest, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_principal, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_balance, precision: 2, delimiter: ',') %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Start Date
    </td>
    <td>
      <%= @loan.start_date.strftime("%Y-%m-%d") %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Status:
    </td>
    <td class="<%= @loan.status %>">
      <%= @loan.status %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Pay to balance
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.pay_to_balance, precision: 2, delimiter: ',') %> </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Date now
    </td>
    <td class="figure-label">
      <%= @loan.date_today %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      <%= link_to "Next Day", change_date_loan_path(@loan.id), { method: :get } %>
    </td>
  </tr>
</table>

<br><br><br>

<table class="loan">
  <tr>
    <th class="date" colspan="2">Date</th>
    <th colspan="3">Charges</th>
    <th colspan="3">Payments</th>
    <th>Notes</th>
  </tr>
  <tr>
    <th></th><th></th>
    <th>int</th><th>pri</th><th>tot</th>
    <th>int</th><th>pri</th><th>tot</th>
    <th>Notes</th>
  </tr>
  <% @view.each do |date, period| %>
    <tr class="period">
      <td><%= date %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% period[:txns].each do |txn| %>
      <tr>
        <td></td>
        <td><%= txn[:date] %></td>
        <td class="numbers"><%= txn[:ctot_ipd] %></td>
        <td class="numbers"><%= txn[:ctot_ppd] %></td>
        <td class="numbers"><%= txn[:ctot_bpd] %></td>
        <td class="numbers"><%= txn[:ptot_ipd] %></td>
        <td class="numbers"><%= txn[:ptot_ppd] %></td>
        <td class="numbers"><%= txn[:ptot_bpd] %></td>
        <td class="numbers"><%= txn[:note] %></td>
      </tr>
    <% end %>

    <tr>
      <td></td>
      <td></td>
      <td><%= period[:tot_ipd] %></td>
      <td><%= period[:tot_ppd] %></td>
      <td><%= period[:tot_bpd] %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end%>

</table>

<br><br><br>

<div class="controls">
  <%= form_for @loan do |f| %>
    <%= f.fields_for :actual_transactions, @loan.actual_transactions.new do |f| %>
      <%= f.select :kind, ["payment", "waive"] %>
      <%= f.text_field :amount %>
      <%= f.hidden_field :note, value: @loan.date_today %>
      <%= f.hidden_field :created_at, value: @loan.date_today %>
      <%= f.hidden_field :updated_at, value: @loan.date_today %>
    <% end %>
    <%= f.submit "Confirm" %>
  <% end %>
</div>
