<%= link_to "Next Day", change_date_loan_path(@loan.id), { method: :get } %>

<table class="headings">
  <tr>
    <th class="loan-details"></th>
    <th></th>
    <th></th>
    <th></th>
    <th class="loan-details"></th>
    <th class="loan-details"></th>
    <th class="loan-details"></th>
  </tr>
  <tr>
    <td class="label">
      Amount:
    </td>
    <td>
      <%= number_with_precision(@loan.amount, precision: 2, delimiter: ',') %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Interest
    </td>
    <td class="figure-label label">
      Principal
    </td>
    <td class="figure-label label">
      Total
    </td>
  </tr>
  <tr>
    <td class="label">
      Interest %:
    </td>
    <td>
      <%= @loan.interest * 100 %> %
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Remaining
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_interest, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_principal, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.remaining_balance, precision: 2, delimiter: ',') %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Periods:
    </td>
    <td>
      <%= @loan.period_count %>
    </td>
    <td></td>
    <td class="figure-label label">Paid</td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_interest, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_principal, precision: 2, delimiter: ',') %>
    </td>
    <td class="figure-label">
      <%= number_with_precision(@loan.paid_balance, precision: 2, delimiter: ',') %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Start Date
    </td>
    <td>
      <%= @loan.start_date.strftime("%Y-%m-%d") %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Status:
    </td>
    <td class="ontime">
      <%= @loan.status %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="figure-label label">
      Date now
    </td>
    <td>
      <%= @loan.date_today %>
    </td>
  </tr>
</table>

<br><br><br>

<table class="loan">
  <tr>
    <th class="date">Date</th>
    <th>Charges</th>
    <th>Debit</th>
    <th>Note</th>
  </tr>
  <% @view.each do |period| %>
    <tr>
      <td>
        <%= period[:date] %>
      </td>
      <td>
        <%= number_with_precision(period[:charges], precision: 2, delimiter: ',') %>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  <% end%>

</table>
