<style>
table.paleBlueRows {
  font-family: "Arial", Times, serif;
  border: 1px solid #FFFFFF;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td, table.paleBlueRows th {
  font-size: 13px;
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.paleBlueRows tbody td {
  font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
table.paleBlueRows tr.summary {
  background: #1abc9c;
}
table.paleBlueRows tr.expected {
  background: #f1c40f;
}
table.paleBlueRows tr.past {
  background: #bdc3c7;
}
table.paleBlueRows tr.custom_payment {
  background: #3498db;
}
table.paleBlueRows thead {
  background: #0B6FA4;
  border-bottom: 5px solid #FFFFFF;
}
table.paleBlueRows thead th {
  font-size: 4px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 4px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}
</style>

<%= link_to "Collapse", loan_path(@loan.id, scenario: params[:scenario], collapse: true) %>
<%= link_to "Uncollapse", loan_path(@loan.id, scenario: params[:scenario]) %>

<h3>BALANCE: <%= @loan.adjustment_summary.html_safe %></h3>

<table class="paleBlueRows">
  <tr>
    <th>date</th>
    <th>beginning bal</th>
    <th>beginning principal</th>
    <th>daily interest accrued</th>
    <th>total interest accrued</th>
    <th>total change</th>
    <th>interest change</th>
    <th>principal change</th>
    <th>ending interest</th>
    <th>ending principal</th>
    <th>ending balance</th>
    <th>events summary</th>
    <th></th>
    <th></th>
  </tr>
<% if params[:collapse] %>
  <% @current_scenario.each do |row| %>
    <% if row[:events_summary].present? %>
      <tr class="<%= row[:events_summary].present? ? 'summary' : nil %>">
        <td><%= row[:date] %></td>
        <td><%= row[:aaa_bal].round(2) %></td>
        <td><%= row[:aaa_pri].round(2) %></td>
        <td><%= row[:day_int].round(2) %></td>
        <td><%= row[:tot_int].round(2) %></td>
        <td><%= row[:tot_chg].round(2) %></td>
        <td><%= row[:int_chg].round(2) %></td>
        <td><%= row[:pri_chg].round(2) %></td>
        <td><%= row[:zzz_int].round(2) %></td>
        <td><%= row[:zzz_pri].round(2) %></td>
        <td><%= row[:zzz_bal].round(2) %></td>
        <td><%= row[:events_summary] %></td>
        <th><%= link_to "Create Event", new_loan_actual_event_path(@loan.id, date: row[:date]) %></th>
        <th><%= link_to "Events", loan_actual_events_path(@loan.id, date: row[:date]) %></th>
      </tr>
    <% else %>
    <% end %>
  <% end %>
<% else %>
  <% @current_scenario.each do |row| %>
    <tr class="<%= row[:events_summary].present? ? "summary" : nil %>">
      <td><%= row[:date] %></td>
      <td><%= row[:aaa_bal].round(2) %></td>
      <td><%= row[:aaa_pri].round(2) %></td>
      <td><%= row[:day_int].round(2) %></td>
      <td><%= row[:tot_int].round(2) %></td>
      <td><%= row[:tot_chg].round(2) %></td>
      <td><%= row[:int_chg].round(2) %></td>
      <td><%= row[:pri_chg].round(2) %></td>
      <td><%= row[:zzz_int].round(2) %></td>
      <td><%= row[:zzz_pri].round(2) %></td>
      <td><%= row[:zzz_bal].round(2) %></td>
      <td><%= row[:events_summary] %></td>
      <th><%= link_to "Create Event", new_loan_actual_event_path(@loan.id, date: row[:date]) %></th>
      <th><%= link_to "Events", loan_actual_events_path(@loan.id, date: row[:date]) %></th>
    </tr>
  <% end %>
<% end %>
</table>
