<table class="loan">
  <tr>
    <th>date</th>
    <th>aaa_bal</th>
    <th>aaa_pri</th>
    <th>day_int</th>
    <th>tot_int</th>
    <th>tot_chg</th>
    <th>int_chg</th>
    <th>pri_chg</th>
    <th>tot_ipd</th>
    <th>tot_ppd</th>
    <th>tot_bpd</th>
    <th>bal_rem</th>
    <th>int_rem</th>
    <th>pri_rem</th>
    <th>zzz_int</th>
    <th>zzz_pri</th>
    <th>zzz_bal</th>
  </tr>
  <% @loan.table.each do |date, hash| %>
    <tr>
      <td><%= date %></td>
      <td><%= hash[:aaa_bal].round(2) %></td>
      <td><%= hash[:aaa_pri].round(2) %></td>
      <td><%= hash[:day_int].round(2) %></td>
      <td><%= hash[:tot_int].round(2) %></td>
      <td><%= hash[:tot_chg].round(2) %></td>
      <td><%= hash[:int_chg].round(2) %></td>
      <td><%= hash[:pri_chg].round(2) %></td>
      <td><%= hash[:tot_ipd].round(2) %></td>
      <td><%= hash[:tot_ppd].round(2) %></td>
      <td><%= hash[:tot_bpd].round(2) %></td>
      <td><%= hash[:bal_rem].round(2) %></td>
      <td><%= hash[:int_rem].round(2) %></td>
      <td><%= hash[:pri_rem].round(2) %></td>
      <td><%= hash[:zzz_int].round(2) %></td>
      <td><%= hash[:zzz_pri].round(2) %></td>
      <td><%= hash[:zzz_bal].round(2) %></td>
      </td>
    </tr>
  <% end %>
</table>
